<template>
  <main>
    <b-row class="vh-100 mx-0">
      <b-col cols="3" class="bg-primary py-5 custom-shadow">
        <BoxAddTask />
      </b-col>
      <b-col cols="9" class="bg-light">
        <b-row class="mx-0">
          <b-col cols="8">
            <BoxCurrentTask />
          </b-col>
          <b-col cols="4" class="bg-white border border-secondary rounded-custom shadow-sm my-4">
            <BoxCompletedTask />
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </main>
</template>
<script>
import BoxAddTask from '@/components/BoxAddTask.vue'
import BoxCompletedTask from '@/components/BoxCompletedTask.vue'
import BoxCurrentTask from '@/components/BoxCurrentTask.vue'

export default {
  components: {
    BoxAddTask,
    BoxCompletedTask,
    BoxCurrentTask
  }
}
</script>

<style scoped lang="scss">
.custom-shadow {
  box-shadow: 0.25rem 0 0.5rem rgba(0, 0, 0, 0.35);
  z-index: 2;
}

.rounded-custom {
  border-radius: 1rem;
}
</style>
