<template>
  <div class="d-flex flex-column align-items-center">
    <Logo class="mb-5" />
    <div class="d-flex flex-column justify-content-center w-100 mt-5">
      <p class="text-light text-center mb-3 font-italic">
        <span class="text-primary font-weight-bold">" TodoList</span> is the good application if you
        want to rearrange your task. It's simple of use. You have just to fill the title and the
        description of your task and that's it! "
      </p>
      <hr class="w-100 bg-primary mb-4" />

      <div class="mb-4">
        <TitleWhithIcon icon="list-nested" title="Do you have a new task?" />
      </div>

      <b-form-input v-model="title" placeholder="What's the task?" class="mb-3"></b-form-input>
      <b-form-textarea
        id="textarea"
        v-model="description"
        placeholder="Describe your task here"
        rows="3"
        max-rows="3"
        class="mb-4"
        no-resize
      ></b-form-textarea>
      <ButtonTextIcon
        title="Create task"
        icon="plus-circle-dotted"
        color="outline-primary"
        @click="addTask"
      />
    </div>
  </div>
</template>
<script>
import Logo from '@/components/icons/Logo.vue'
import TitleWhithIcon from '@/components/TitleWithIcon.vue'
import ButtonTextIcon from '@/components/ButtonTextIcon.vue'
import { mapMutations } from 'vuex'
export default {
  components: {
    Logo,
    TitleWhithIcon,
    ButtonTextIcon
  },
  data() {
    return {
      title: '',
      description: ''
    }
  },
  computed: {
    taskList: {
      get() {
        return this.$store.state.tasks
      },
      set(val) {
        this.setTasks(val)
      }
    }
  },
  methods: {
    addTask() {
      const isEmpty = this.title === '' || this.description === ''
      if (!isEmpty) {
        this.taskList.push({ title: this.title, description: this.description })
        this.cleanField()
      }
    },
    cleanField() {
      this.title = ''
      this.description = ''
    },
    ...mapMutations({
      setTasks: 'SET_TASKS'
    })
  }
}
</script>
