<template>
  <div>
    <div class="mb-5">
      <TitleWhithIcon icon="trophy" title="Your completed task" class="pt-4" />
    </div>
    <TransitionGroup name="completed-list">
      <div v-for="(task, index) in taskListDone" :key="index">
        <CardTaskDone :title="task.title" :description="task.description" />
      </div>
    </TransitionGroup>
  </div>
</template>
<script>
import TitleWhithIcon from '@/components/TitleWithIcon.vue'
import CardTaskDone from '@/components/CardTaskDone.vue'

export default {
  components: {
    TitleWhithIcon,
    CardTaskDone
  },
  computed: {
    taskListDone: {
      get() {
        return this.$store.state.tasksDone
      }
    }
  }
}
</script>
<style scoped>
.completed-list-enter-active,
.completed-list-leave-active {
  transition: all 0.5s ease;
}
.completed-list-enter-from,
.completed-list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
</style>
