<template>
  <div>
    <Transition name="slide-fade">
      <div class="min-vh-100" v-if="taskList.length > 0">
        <h2 class="text-center my-5">
          Remaining tasks : <span class="text-primary font-weight-bold">{{ taskList.length }}</span>
        </h2>

        <TransitionGroup name="task-list" class="row mr-0" tag="div">
          <b-col cols="6" class="p-2" v-for="(task, index) in taskList" :key="index">
            <CardTask :title="task.title" :description="task.description" :index="index" />
          </b-col>
        </TransitionGroup>
      </div>
      <div class="vh-100 d-flex flex-column align-items-center justify-content-center" v-else>
        <b-icon icon="info-circle" font-scale="4" class="text-primary"></b-icon>
        <h2 class="text-center display-5 text-primary">You have no more task!</h2>
      </div>
    </Transition>
  </div>
</template>
<script>
import CardTask from '@/components/CardTask.vue'
export default {
  components: {
    CardTask
  },
  computed: {
    taskList: {
      get() {
        return this.$store.state.tasks
      }
    }
  }
}
</script>
<style scoped>
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.45s ease-in-out;
}

.slide-fade-leave-active {
  transition: all 0.35s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(10rem);
  opacity: 0;
}

.task-list-enter-active,
.task-list-leave-active {
  transition: all 0.5s ease;
}
.task-list-enter-from,
.task-list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.task-list-enter-to,
.task-list-leave-from {
  opacity: 1;
  transform: translateX(-5px);
}
</style>
