<template>
  <b-button
    :variant="color"
    class="rounded-circle p-0 mx-1 btn rounded-circle p-1 d-flex justify-content-center align-items-center btn--shadow"
    v-b-tooltip.hover
    :title="tooltip"
    @click="$emit('click')"
  >
    <b-icon :icon="icon" aria-hidden="true"></b-icon>
  </b-button>
</template>
<script setup>
defineProps({
  icon: String,
  color: String,
  tooltip: String
})
</script>
<style scoped lang="scss">
.btn {
  .b-icon.bi {
    font-size: 14px;
  }

  &:hover {
    background-color: $secondary !important;
    border-color: $secondary !important;
    box-shadow: 0.25rem 0.25rem 0.35rem rgba(0, 0, 0, 0.25);
    .b-icon.bi {
      color: $white;
    }
  }
}
</style>
