<template>
  <div>
    <ButtonIconOnly color="primary" icon="pen" tooltip="Edit task" @click="showModal" />
    <b-modal id="modal" ref="modal" title="modal EDBM">
      <template #modal-header>
        <TitleWhithIcon icon="pen" title="Edit task" />
      </template>

      <b-form-input
        v-model="newTitle"
        :placeholder="taskList[index].title"
        class="mb-3"
      ></b-form-input>
      <b-form-textarea
        v-model="newDescription"
        :placeholder="taskList[index].description"
        id="textarea"
        rows="3"
        max-rows="6"
        class="mb-4"
      ></b-form-textarea>

      <template #modal-footer>
        <div class="d-flex">
          <ButtonTextIcon
            title="Cancel"
            icon="x-circle"
            color="outline-danger"
            @click="closeModal"
          />
          <div class="ml-3">
            <ButtonTextIcon
              title="Edit task"
              icon="check2"
              color="outline-primary"
              @click="editTask"
            />
          </div>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import ButtonTextIcon from './ButtonTextIcon.vue'
import ButtonIconOnly from '@/components/ButtonIconOnly.vue'
import TitleWhithIcon from '@/components/TitleWithIcon.vue'
import { mapMutations } from 'vuex'

export default {
  components: {
    ButtonTextIcon,
    ButtonIconOnly,
    TitleWhithIcon
  },
  props: {
    index: Number
  },
  data() {
    return {
      newTitle: null,
      newDescription: null,
      show: false
    }
  },
  mounted() {
    this.newTitle = this.taskList[this.index].title
    this.newDescription = this.taskList[this.index].description
  },
  computed: {
    taskList: {
      get() {
        return this.$store.state.tasks
      },
      set(val) {
        this.setTasks(val)
      }
    }
  },
  methods: {
    ...mapMutations({
      setTasks: 'SET_TASKS'
    }),
    showModal() {
      this.$refs['modal'].show()
    },
    closeModal() {
      this.$refs['modal'].hide()
    },
    editTask() {
      this.taskList[this.index].title = this.newTitle
      this.taskList[this.index].description = this.newDescription
      this.closeModal()
    }
  }
}
</script>

<style lang="scss">
#modal {
  display: block;
}
</style>
