<template>
  <b-button class="d-block mx-auto" :variant="color" pill @click="$emit('click')">
    <b-icon :icon="icon" aria-hidden="true"></b-icon>
    {{ title }}
  </b-button>
</template>
<script setup>
defineProps({
  icon: String,
  title: String,
  color: String
})
</script>
