<template>
  <b-card
    bg-variant="light"
    text-variant="secondary"
    :title="title"
    class="position-relative card--radius mb-3"
  >
    <b-icon icon="check2-circle" scale="2" class="position-absolute"></b-icon>
    <b-card-text>
      {{ description }}
    </b-card-text>
  </b-card>
</template>
<script>
export default {
  props: {
    title: String,
    description: String
  }
}
</script>
<style scoped lang="scss">
.card {
  box-shadow: 0.15rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1) !important;
  &.card--radius {
    border: solid 1px $secondary;
    border-radius: 1rem;
  }

  ::v-deep(.card-title) {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }

  ::v-deep(.card-body) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.3rem 1.15rem 0.3rem 3.75rem;
  }

  .b-icon {
    left: 1.25rem;
  }
}

.card-text {
  font-size: 0.8rem;
}
</style>
