<template>
  <b-card
    border-variant="light"
    header-bg-variant="primary"
    header-text-variant="light"
    text-variant="dark"
    header-tag="header"
    class="shadow-sm"
  >
    <template #header>
      <div class="d-flex justify-content-between align-items-center">
        <p class="m-0">{{ title }}</p>
        <div class="d-flex align-items-center ml-1">
          <ButtonIconModal :index="index" />
          <ButtonIconOnly
            color="primary"
            icon="check2"
            tooltip="Complete task"
            @click="completeTask(index)"
          />
          <ButtonIconOnly
            color="primary"
            icon="x-circle"
            tooltip="Delete task"
            @click="removeTask(index)"
          />
        </div>
      </div>
    </template>
    <b-card-text>{{ description }}</b-card-text>
  </b-card>
</template>
<script>
import ButtonIconOnly from '@/components/ButtonIconOnly.vue'
import ButtonIconModal from '@/components/ButtonIconModal.vue'
import { mapMutations } from 'vuex'

export default {
  components: {
    ButtonIconOnly,
    ButtonIconModal
  },
  props: {
    title: String,
    description: String,
    index: Number
  },
  computed: {
    taskList: {
      get() {
        return this.$store.state.tasks
      },
      set(val) {
        this.setTasks(val)
      }
    },
    taskListDone: {
      get() {
        return this.$store.state.tasksDone
      },
      set(val) {
        this.setTasksDone(val)
      }
    }
  },
  methods: {
    ...mapMutations({
      setTasks: 'SET_TASKS',
      setTasksDone: 'SET_TASKS_DONE'
    }),
    completeTask(ind) {
      this.taskListDone.push({
        title: this.taskList[ind].title,
        description: this.taskList[ind].description
      })
      this.removeTask(ind)
    },
    removeTask(ind) {
      this.taskList.splice(ind, 1)
    }
  }
}
</script>

<style scoped lang="scss">
.card {
  border-radius: 14px;
  ::v-deep(.card-header) {
    border-radius: 14px;
    box-shadow: 0 0.25rem 0.1rem rgba(0, 0, 0, 0.15);
  }
}
</style>
