<template>
  <div class="d-flex justify-content-center align-items-center h5 text-primary">
    <b-icon class="mt-1 mr-2" :icon="icon" aria-hidden="true"></b-icon>
    <p class="mb-0 font-weight-bold">{{ title }}</p>
  </div>
</template>
<script setup>
defineProps({
  icon: String,
  title: String
})
</script>
